@import url(./variable.css);

@font-face {
  font-family: 'Vazir';
  src: url('../../fonts/Vazir.woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazir !important;
  text-align: right;
  text-decoration: none;
}

body{
  background-color: #aaa;
}

h3{
  color: var(--background-support);
}

.later {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

table{
  width: 96% !important;
  background-color: var(--background-main) !important;
  color: var(--background-support) !important;
}

.formInput {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(100%);
  padding: 8px 12px 9px;
  margin: 9px;
  font-size: 14px;
}

a{
  color: var(--background-support);
  text-decoration: none;
}

a:hover{
  color: var(--background-support);
  text-decoration: none;
}

.manageActions{
  background-color: antiquewhite;
  color: var(--background-main);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.4em 0.75em;
}

.session {
    color: #fff;
    border-radius: 7px;
    padding: 10px;
    margin-top: 15px;
}

.pageToolBox{
  background-color: var(--background-main);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid transparent;
  box-shadow: 0 0 12px rgb(0 0 0 / 8%);
}

.search {
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  margin-bottom: 0 !important;
}

.new{
  margin-left: 40px;
}

.queryLog{
  z-index: 990;
  position: fixed;
  left: 20px;
  cursor: pointer;
  bottom: 20px;
  background-color: var(--background-main);
  color: var(--background-support);
  display: inline-block;
  padding: 3px 10px;
  border-radius: 7px;
}

.queryAllPage{
  z-index: 900;
  direction: ltr;
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.queryAllPage .eachQuery{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.queryAllPage .eachQuery p{
  margin-bottom: 7px;
  text-align: left;
  direction: ltr;
}

.queryAllPage .eachQuery .time {
  color: #f7b80b;
}

.queryLog p{
  margin: 0;
  padding: 0;
}

.searchIcon {
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  cursor: pointer;
  width: 45px;
  background: black url('../../images/search.png') no-repeat center / 17px;
}

.searchInput {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px 10px;
}

.navigation {
  direction: ltr;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation a {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--background-main);
  font-size: 12px;
  color: #fff;
  margin: 5px;
}

.navigation .active{
  background-color: var(--background-support);
  color: var(--background-main);
}

.navigation a:hover {
  background-color: var(--background-main);
  color: var(--background-support);
}

.counter{
  text-align: center;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: antiquewhite;
  border-radius: 1em;
}

.main{
  width: 100%;
  height: 100vh;
}

.menu{
  background-color: var(--background-main);
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
  color: var(--background-support);
  padding: 20px 30px;
  margin-top: 10px;
}

.gapBetween {
  margin-bottom: 20px !important;
  margin-right: 2em !important;
  margin-left: 2em !important;
  border-radius: 10px !important;
  border: 1px solid transparent !important;
}

.listFilter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* popup */
.popupPage{
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-70%, 0);
    border-radius: 10px;
    background-color: var(--background-main);
    z-index: 999;
    box-shadow: 5px 10px 5px #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 25px 15px 25px;
    transition: all 0.4s ease;
}

.popupInputs{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popupHeader {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.normalPopup{
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 60%;
}

.popupLabel{
  margin-right: 9px;
  width: 100%;
  color: var(--background-support);
  text-align: right;
}

.popupHeader svg{
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  fill: #de2222;
}

.popupHeader h3{
  text-align: center;
}
/* end-popup */

.rowOptions {
  position: relative;
}

.manageInput {
  width: 100%;
  padding: 20px 25px 1px 25px !important;
}

.manageFormSubmit {
  display: block;
  margin:auto
}

.manageTitle{
  text-align: center;
  margin-top: 20px;
}

.manageCheckBox {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #ccc;
    position: relative;
}

.manageSpan {
  position: absolute;
  top: -5px;
  right: 5%;
  background: var(--background-main);
  color: var(--background-support);
  border-radius: 10px;
  font-size: 14px;
  line-height: 11px;
  padding: 9px 16px;
  z-index: 4;
}

.rowDivide .manageSpan {
  position: absolute;
  top: -12px;
  right: 10%;
  font-size: 13px;
  line-height: 11px;
  padding: 9px 16px;
}

.manageCheckBox .manageSpan {
  position: absolute;
  top: -20px;
  right: 10%;
  font-size: 13px;
  padding: 9px 16px;
}

/* progress bar */
#progressBar {
  /* padding: 1em 2em; */
  border-radius: 100px !important;
  background: white;
  margin-bottom: 10px;
  color: var(--background-support);
}
.imageUpload{
  margin-bottom: 10px;
}
#loaded_n_total{
  color: var(--background-support);
  direction: ltr;
  margin-bottom: 3px;
}
#status{
  color: var(--background-support);
  direction: ltr;
  margin-bottom: 10px;
  font-weight: 500;
}
#upload_form{
  margin-top: 10px;
}